body {
  font-family: Arial;
}

.heading {
  margin-top: 50px;
  margin-bottom: 20px;
}

.heading2 {
  margin-top: 30px;
  margin-bottom: 20px;
}

.text {
  font-size: 18px;
}

.listitem {
  margin-bottom: 5px;
}
